<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/leaflet.css">
    <link rel="stylesheet" href="/stylesheets/MarkerCluster.css">
    <link rel="stylesheet" href="/stylesheets/MarkerCluster.Default.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">

    <!-- reference error need to be fixed -->
    <link rel="stylesheet" href="/stylesheets/app.css">

    <script src="/javascripts/leaflet.js"></script>
    <script src="/javascripts/leaflet.markercluster.js"></script>
</head>

<body class="d-flex flex-column vh-100">
    <%- include("../partials/navbar") %>
        <main class="container mt-5">
            <%- include("../partials/flash") %>
                <%- body %>

        </main>
        <%- include("../partials/footer") %>

            <script src="/javascripts/jquery.js"></script>
            <script src="/javascripts/bootstrap.min.js"></script>
            <script src="/javascripts/validateForms.js"></script>

</body>

</html>